html {

    background-color: blanchedalmond;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    color: rgb(2, 80, 16);
}

th, td {

    border: 2px solid green;
    border-collapse: collapse;
    background-color: rgb(224, 251, 233);
}
table {

    width: 75%;
    height: max-content;
    margin:10px ;
    padding: 2px;
    background-color: rgb(190, 248, 210);
    border: 3px solid rgb(6, 73, 6);
    border-radius: 5px;
    border-collapse: separate;



}

td {
    text-align: center;
    padding: 3px;
}

td:nth-child(n+2) {
    color: rgb(66, 142, 59);
}

#singl {

    color: coral;
}

