h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: xx-large;
}

.naslov {

    font-family: sans-serif;
    color:darkblue;
    background-color: rgba(101, 140, 255, 0.366);

}

form {
    background-color: rgba(101, 140, 255, 0.366);
}

label {

    font-family: sans-serif;
    font-size: larger;
    color: darkblue;
}

.okvir, ::placeholder {
    color: cornflowerblue;
}

button {
    display:inline;
    float: right;
    color: darkblue;
    background-color: rgba(105, 105, 105, 0.485);
    font-family: cursive;
    font-size: 20px;
    border: 3cm;
    border-radius: 4px;
}